<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<body style="background-size:120%; background-repeat:no-repeat; height: 100%;
 background-image: url(<%= asset_path 'login.png'%>)" >
 <div id="main_content">
  <div id="page_wrapper">

  <h2>Resend unlock instructions</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Resend unlock instructions" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
  

  </div>
</div>
</body>
</html> 





