<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <title>Contact | Alstar</title>
  </head>
  <body>
      <div id="page_wrapper">
        <div id="content">
          <h1 style="color:white"> ACCELERATE YOUR GROWTH WITH</h1>
          <h1 style="color:white"> RATINGS & REVIEWS</h1>
          <h3> <div id="logo" >
          <%= image_tag "star2.png", style: 'width:30px; height:30px' %>
          <%= image_tag "star2.png", style: 'width:30px; height:30px' %>
          <%= image_tag "star2.png", style: 'width:30px; height:30px' %>
          <%= image_tag "star2.png", style: 'width:30px; height:30px' %>
          <%= image_tag "star2.png", style: 'width:30px; height:30px' %>
          </h3>
          <h2 style="color:white; text-shadow: 1px 1px black;">Alstar eCommmerce Marketing Platform offers 360° solutions 
          for user generated contents, ratings, reviews, videos and posts using the power of AI.
          </h2>
          <br><br><br>
          <h2 style="color:white; text-shadow: 1px 1px black;">We collect data from:
          </h2>
          <hr style="border-top: 3px solid white;">
          <ul style:"">
          &emsp;<span class="dot"></span><li style="color:white;display:inline; text-shadow: 1px 1px black;"> Product Pages</li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          <span class="dot"></span><li style="color:white;display:inline; text-shadow: 1px 1px black;"> Social Media</li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          <span class="dot"></span><li style="color:white;display:inline; text-shadow: 1px 1px black;"> Videos</li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          <span class="dot"></span><li style="color:white;display:inline; text-shadow: 1px 1px black;"> Online Communities</li>
          </ul>  
          <hr style="border-top: 3px solid white;">
        </div> 
      </div>
    </div>
  </body>
</html> 

