<div id="main_content">
<div id="page_wrapper" >
  <h2 style="color:white">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field" style="color:white">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", style:"width:500px;" %>
    </div>
  <br>
    <div class="field" style="color:white">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", style:"width:500px;" %>
    </div>
    <br>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, style:"color:white" %>
        <%= f.label :remember_me, style:"color:white" %>
      </div>
    <% end %>
    <br>
    <div class="actions">
      <%= f.submit "Log in", style:"color:white" %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links", style:"color:white" %>
</div>
</div>