<div id="post_content">
  <h1 class="title">
    <%=@post.title %>
    <hr/>
  </h1>

  <p class="date"><h6>
    <%= time_ago_in_words(@post.created_at)%> once olusturuldu
    | <%= link_to 'Duzenle', edit_post_path(@post) %>
    | <%= link_to 'Sil', post_path(@post), method: :delete, data: {confirm: 'Silinecek, emin misin?'} %>
    </h6>
  </p>

  <p class="body">
    <h2>
      <%=@post.body%>
    </h2>
  </p>

  <hr/>
  <div id="comment">
    <h2>
      <%= @post.comments.count%>
      Yorumlar
    </h2>
    <%= render @post.comments %>
    <h3>Yorum Ekle:</h3>
    <%= render 'comments/form' %>
  </div>
</div>