<!DOCTYPE html>
<html>
  <head>
    <title> Blogv2 </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body style="background-image: url(<%= asset_path 'Background.png' %>); background-size: cover;">
    <div id="sidebar">
      <div id="logo" style="margin-top: -100px;">
        <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
        <% end %>
      </div>
      <br>
      <br><br>
      <ul>
        <h1 style="color:#4d76d2;">Harness the power of product reviews & customer ratings.
        </h1>
      </ul>
      <%if !user_signed_in?%>
      <button class="button" style="margin-left:40px;margin-top:50px;"><%= link_to "Get Started", user_session_path	 %></button>
      <%end%>
	  </div>


    <div id="main_content">

        <% flash.each do |name, msg|%>
          <%= content_tag(:div, msg, class:"alert") %>
        <% end %>
    <%= yield %>
  </div>
  </body>
</html>
