<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body style="background-image: url(<%= asset_path 'Background.png' %>); background-size: cover;">
    <div id="sidebar">
      <div id="logo" style="margin-top: -100px;">
        <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
        <% end %>
      </div>
      <br>
      <br>
      <ul>
        <h1 style="color:#4d76d2;">Harness the power of product reviews & customer ratings.
        </h1>
      </ul>
      <%if !user_signed_in?%>
      <button class="button" style="margin-left:40px;margin-top:30px;"><%= link_to "Get Started", user_session_path	 %></button>
      <%end%>
      <button class="button" style="margin-left:50px;margin-top:10px"><%= link_to "Contact", contact_path	 %></button>
	  </div>


    <div id="main_content">

        <% flash.each do |name, msg|%>
          <%= content_tag(:div, msg, class:"alert") %>
        <% end %>
    <%= yield %>
    </div>
    <script>
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
      function myyFunction() {
        document.getElementById("myDropdown1").classList.toggle("show");
      }
      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn1')) {
          var dropdowns = document.getElementsByClassName("dropdown-content1");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
      </script>
      
  </body>
</html>
